<!DOCTYPE html>
<html>
<head>
    <title>Fiyat Tahmini</title>
</head>
<body>
    <h1>Fiyat Tahmini</h1>
    <form action="/" method="POST">
        <label for="yil">Yıl:</label>
        <input type="number" id="yil" name="yil" required><br><br>

        <label for="kilometre">Kilometre:</label>
        <input type="number" id="kilometre" name="kilometre" required><br><br>

        <label for="yakit_tipi">Yakıt Tipi:</label>
        <select id="yakit_tipi" name="yakit_tipi" required>
            <option value="Benzin">Benzin</option>
            <option value="Dizel">Dizel</option>
            <option value="Elektrik">Elektrik</option>
            <option value="Hibrit">Hibrit</option>
            <option value="LPG & Benzin">LPG & Benzin</option>
        </select><br><br>

        <label for="vites_tipi">Vites Tipi:</label>
        <select id="vites_tipi" name="vites_tipi" required>
            <option value="Düz">Düz</option>
            <option value="Otomatik">Otomatik</option>
            <option value="Yarı Otomatik">Yarı Otomatik</option>
        </select><br><br>

        <label for="boya_degisen">Boya Değişen:</label>
        <select id="boya_degisen" name="boya_degisen" required>
            <option value="Belirtilmemiş">Belirtilmemiş</option>
            <option value="Tamamı orjinal">Tamamı orjinal</option>
            <option value="Var">Var</option>
        </select><br><br>

        <label for="marka">Marka:</label>
        <select id="marka" name="marka" required>
            <option value="Alfa Romeo">Alfa Romeo</option>
            <option value="Arora">Arora</option>
            <option value="Hyundai">Hyundai</option>
            <!-- Diğer markaları buraya ekleyin -->
        </select><br><br>

        <label for="seri">Seri:</label>
        <input type="text" id="seri" name="seri" required><br><br>

        <input type="submit" value="Tahmin Et">
    </form>
    
    <h1>Fiyat Tahmini Sonucu</h1>
    <p>Tahmin edilen fiyat: {{ predicted_price }}</p>
    
</body>
</html>
